body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

header {
    background-color: #333333;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-panel {
    width: 40%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.option-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; /* 增加組間距 */
}

.option {
    display: flex;
    flex-direction: column; /* 改為垂直布局 */
    width: 48%;
}

.option label {
    margin-bottom: 5px; /* 減小label與輸入框間距 */
    color: #333333;
}

.option select,
.option input[type="text"] {
    padding: 5px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.right-panel {
    width: 55%;
    text-align: center;
}

.preview-text {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333333;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}